@model Foodie.Web.Models.ApplicationUser


@{
    string title = "User Profile";
    string titleMessage = "Update your information.";
}

<main>


    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div id="user-profile">
            <h2 id="title">@title</h2>
            <h4>@titleMessage</h4>
            <hr />
        </div>

        <div class="user-profile-container">
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.LabelFor(m => m.FirstName, new { @class = "register-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

            @Html.LabelFor(m => m.LastName, new { @class = "register-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

            @Html.LabelFor(m => m.PhoneNumber, new { @class = "register-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })

            @Html.LabelFor(m => m.Email, new { @class = "register-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            <input type="submit" value="Update" class="btn btn-dark user-profile-btn" />
        </div>

    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}