@using Foodie.Web.Models
@using Microsoft.AspNet.Identity;
@model ProductSearchFilters


@{
    string notFoundMessage = "Products not found";

    string productNameLabel = "Product Name";
    string productQuantityLabel = "Product Quantity";
    IEnumerable<SelectListItem> categories = (IEnumerable<SelectListItem>)ViewBag.Categories;
    IEnumerable<SelectListItem> ratings = (IEnumerable<SelectListItem>)ViewBag.Ratings;
    int cartCount = (int)ViewBag.CartCount;
    Cart cart = new Cart();


    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", @class = "filters-container" }))
        {
            @Html.AntiForgeryToken()
            <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-light position-relative">
                <img class="shopping-cart-img" src="~/Images/shopping-cart.png" alt="shopping-cart" />
                <span class="badge rounded-circle bg-danger">
                    @cartCount
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            @Html.DropDownListFor(m => m.CategoryId, categories, new { @id = "productsDropDown", @class = "form-control" })
            @Html.DropDownListFor(m => m.RatingId, ratings, new { @id = "ratingDropDown", @class = "form-control" })
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", placeholder = productQuantityLabel })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = productNameLabel })

            <input type="submit" value="Search" class="btn btn-dark" />
        }


    </div>

    if (@ViewBag.Products == null)
    {
        <h2>@notFoundMessage</h2>
    }
    else
    {
        @Html.Partial("~/Views/Home/ProductsPartial.cshtml", @cart)
    }
}

