@using Foodie.Web.Models
@model ProductSearchFilters


@{
    string notFoundMessage = "Products not found";
    string productNameLabel = "Product Name";
    string productQuantityLabel = "Product Quantity";
    IEnumerable<SelectListItem> categories = (IEnumerable<SelectListItem>)ViewBag.Categories;
    IEnumerable<SelectListItem> ratings = (IEnumerable<SelectListItem>)ViewBag.Ratings;
    List<Product> products = (List<Product>)ViewBag.Products;

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" , @class = "filters-container" }))
        {
            @Html.AntiForgeryToken()
            @Html.DropDownListFor(m => m.CategoryId, categories, new { @id = "productsDropDown", @class = "form-control" })
            @Html.DropDownListFor(m => m.RatingId, ratings, new { @id = "ratingDropDown", @class = "form-control" })
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", placeholder = productQuantityLabel })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = productNameLabel })

            <input type="submit" value="Search" class="btn btn-dark" />
        }


    </div>

    if (@products == null)
    {
        <h2>@notFoundMessage</h2>
    }
    else
    {
        @Html.Partial("~/Views/Home/ProductsPartial.cshtml", @products)
    }
}


