@using Foodie.Web.Models
@using Microsoft.AspNet.Identity;

@{
    List<Cart> carts = (List<Cart>)ViewBag.Carts;
    int cartCount = (int)ViewBag.CartCount;
    string noItemsMessage = "The shopping cart is empty";
    string noPaymentMethodMessage = "Please add a payment method to enable check out";
    string goToCheckOut = "Go To CheckOut";
    string deleteItem = "Delete";
    string currencyLabel = "CRC-";
    string unitsLabel = "-Unit(s)";
    string subtotalLabel = "SubTotal";
    decimal subTotal = (decimal)ViewBag.SubTotal;
    bool goToCheckOutEnabled = (bool)ViewBag.GoToCheckOutEnabled;
}


<div class="shopping-cart-header">
    <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-light position-relative">
        <img class="shopping-cart-img" src="~/Images/shopping-cart.png" alt="shopping-cart" />
        <span class="badge rounded-circle bg-danger">
            @cartCount
            <span class="visually-hidden">unread messages</span>
        </span>
    </a>
</div>

<div class="shopping-cart-container">
    @foreach (Cart cart in carts)
    {
        <div class="card shopping-cart">
            <div class="card-body">
                <div class="shopping-cart-body">
                    @using (Html.BeginForm("DeleteCart", "ShoppingCart", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@cart.Id" name="Id" />
                        <input type="submit" value="@deleteItem" class="btn btn-dark" />
                    }

                    @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { role = "form", @class = "shopping-cart-form" }))
                    {
                        decimal productPriceByQuantity = cart.Product.Price * cart.Quantity;
                        @Html.AntiForgeryToken()
                        <div class="shopping-cart-single-row">
                            <h5><span>@cart.Quantity</span>@unitsLabel</h5>
                        </div>
                        <h5 class="card-title">@cart.Product.Name</h5>
                        <div class="shopping-cart-single-row">
                            <h5>@currencyLabel<span>@productPriceByQuantity</span></h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @if (cartCount > 0)
    {
        <div class="shopping-cart-subtotal">
            <h5>@subtotalLabel</h5>
            <div class="shopping-cart-single-row">
                <h5>@currencyLabel<span>@subTotal</span></h5>
            </div>
        </div>
        if (goToCheckOutEnabled)
        {

            using (Html.BeginForm("Index", "CheckOut", FormMethod.Get, new { role = "form", @class = "checkout-btn" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="@goToCheckOut" class="btn btn-dark" />
            }
        }
        else
        {
            <h5>@noPaymentMethodMessage</h5>
        }
    }
    else
    {
        <h5>@noItemsMessage</h5>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

