@using Foodie.Web.Models
@using Microsoft.AspNet.Identity;

@{
    List<Cart> carts = (List<Cart>)ViewBag.Carts;
    int cartCount = (int)ViewBag.CartCount;
    string goToCheckOut = "Go To CheckOut";
    string currencyLabel = "CRC-";
    string unitsLabel = "-Unit(s)";
    string subtotalLabel = "SubTotal";
    decimal subTotal = 0;
}


<div class="shopping-cart-header">
    <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-light position-relative">
        <img class="shopping-cart-img" src="~/Images/shopping-cart.png" alt="shopping-cart" />
        <span class="badge rounded-circle bg-danger">
            @cartCount
            <span class="visually-hidden">unread messages</span>
        </span>
    </a>
</div>

<div class="shopping-cart-container">
    @foreach (Cart cart in carts)
    {
        <div class="card shopping-cart">
            @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { role = "form" }))
            {
                decimal productPriceByQuantity = cart.Product.Price * cart.Quantity;
                subTotal += productPriceByQuantity;
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="shopping-cart-body">
                        <div class="shopping-cart-single-row">
                            <h5><span>@cart.Quantity</span>@unitsLabel</h5>
                        </div>
                        <h5 class="card-title">@cart.Product.Name</h5>
                        <div class="shopping-cart-single-row">
                            <h5>@currencyLabel<span>@productPriceByQuantity</span></h5>
                        </div>
                        <input type="hidden" value="@cart.ProductId" name="ProductId" />
                        <input type="hidden" value="@User.Identity.GetUserId()" name="UserId" />
                    </div>
                </div>
            }
        </div>
    }
    <div class="shopping-cart-subtotal">
        <h5>@subtotalLabel</h5>
           <div class="shopping-cart-single-row">
                <h5>@currencyLabel<span>@subTotal</span></h5>
           </div>
    </div>
    @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { role = "form" , @class = "checkout-btn"}))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@User.Identity.GetUserId()" name="UserId" />
        <input type="submit" value="@goToCheckOut" class="btn btn-dark" />
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

