@using Foodie.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<main>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div id="login">
            <h2 id="title">@ViewBag.Title.</h2>
            <h4>Account to log in.</h4>
            <hr />
        </div>
        
        <div class="login-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.UserName, new { @class = "login-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

            @Html.LabelFor(m => m.Password, new { @class = "login-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

            <div class="remember-me-container">
                @Html.CheckBoxFor(m => m.RememberMe)
                <span>@Html.LabelFor(m => m.RememberMe)</span>
            </div>
           

            <input type="submit" value="Log in" class="btn btn-dark login-btn" />
        </div>
    }

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}